QFrame#checkWidget{
    background-color:#1A1F2B;
    border:1px solid #1A1F2B;
    border-radius:5px;
}

QLabel{
    color:#FFFFFF;
    font-size:13px;
    font-weight:bold;
    font-family:"Arial";
}

