QFrame#checkWidget{
    background-color:#2E8B57;
    border:1px solid #2E8B57;
    border-radius:5px;
}
QLabel{
    color:#FFFFFF;
    font-size:13px;
    font-weight:bold;
    font-family:"Arial";
}