QLabel {
    font-family: "Arial", serif;
    /*font-size: 12px;*/
    padding-right: 5px;
    /*font-style: oblique;*/
}

QLabel#tip_format {
    font-family: "fangsong", serif;
    font-weight: bold;
    /*font-style: oblique;*/
    padding: 3px 3px;
    font-size: 14px;
    color: #c0955d;
}

QComboBox {
    padding: 5px;
    font-family: "Arial", serif;
    /*font-size: 12px;*/
}

QListWidget::item {
    font-family: "Arial", serif;
    padding: 5px;
}
QGroupBox{
    font-size: 15px;
    text-align: center;
    font-family: "Arial Black", serif;
}

QGroupBox > QLabel{
    padding: 7px;
    font-family: "Verdana", serif;
}

QTextEdit{
    font-family: "Arial", serif;
    font-style: oblique;
    padding: 5px;
}

QPushButton#submit{
    height:50%;
    font-family: "Arial", serif;
    background-color: #8B4513;
    color:#F7EEDD;
    font-size: 50%;
    font-weight: bold;
    border-radius: 10px;
}
QPushButton#submit:hover{
    background-color: #ffd299;
}